@page "/rastrear-paquete"
@using GestorCorrespondencia.Frontend.Model.Paquetes.Rastrear_Paquete

@using GestorCorrespondencia.Frontend.Services
@inject LayoutService LayoutService
@inject DialogService DialogService

@code {
    protected override void OnInitialized()
    {
        LayoutService.ActualizarHeader("Rastrear Paquete");
    }
}

@if (paqueteEncontrado)
{

    <style>
        .main-container {
        margin-top: 0;
        margin-bottom: 0;
        }

        .rz-timeline-point-info {
        border-color: #562E8A !important;
        }
    </style>

    <div class="main-container" style="max-width: 100%; width: 100%;">

        <h3 class="form-title">Rastrear Paquete</h3>

        <RadzenTextBox @bind-Value="@modelo.NumeroRastreo" Placeholder="Ingrese el número de rastreo" Style="width: 60%;" />
        <RadzenButton Text="Rastrear" Icon="alt_route" Click="@BuscarPaquete" Style="margin-left: 10px;" />
        <RadzenTimeline Orientation="@orientation" LinePosition="LinePosition.Start"
        style="--rz-timeline-line-width: 3px;
           --rz-timeline-line-color: #562E8A;
           --rz-timeline-axis-size: 72px;
           margin: 0 auto;">
            <Items>
                <RadzenTimelineItem PointVariant="Variant.Filled" PointStyle="PointStyle.Success" PointShadow="0">
                    <PointContent>
                        <RadzenIcon Icon="how_to_reg" Style="color: #ffffff;" />
                    </PointContent>
                    <ChildContent>
                        <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-m-0" Style="font-size: 0.8rem; color: #4CAF50;">
                            Nuevo Envío
                        </RadzenText>
                    </ChildContent>
                </RadzenTimelineItem>

                @foreach (var item in timelineItems)
                {
                    <RadzenTimelineItem PointVariant="Variant.Outlined" PointStyle="PointStyle.Info" PointShadow="0">
                        <PointContent>
                            <RadzenIcon Icon="@item.Icon" Style="color: #562E8A;" />
                        </PointContent>
                        <ChildContent>
                            <RadzenText TextStyle="TextStyle.Subtitle1" class="rz-m-0" Style="font-size: 0.8rem; color: #562E8A;">
                                @item.Texto
                            </RadzenText>
                        </ChildContent>
                    </RadzenTimelineItem>
                }
            </Items>
        </RadzenTimeline>

        @code {
        private Orientation orientation = Orientation.Horizontal;

        private List<(string Texto, string Icon)> timelineItems = new()
            {
                ("Enviado a Correspondencia", "local_shipping"),
                ("Recibido por Correspondencia", "mail"),
                ("Enviado a Destino", "send"),
                ("En Recepción", "location_on"),
                ("Recibido", "check_circle")
            };
        }

    <RadzenRow>
        <RadzenColumn Size="7" style="min-height: 40vh;">
            <RadzenCard Style="height: 100%;">
                <RadzenRow>
                    <RadzenColumn>
                        <p class="rz-mt-2 rz-mb-2"><strong>Ubicación de origen:</strong> <span class="text-morado">@modelo.UbicacionOrigen</span></p>
                        <p class="rz-mt-2 rz-mb-2"><strong>Origen:</strong> <span class="text-azul-claro">@modelo.Origen</span></p>
                    </RadzenColumn>
                    <RadzenColumn>
                        <p class="rz-mt-2 rz-mb-2"><strong>Ubicación de destino:</strong> <span class="text-naranja">@modelo.UbicacionDestino</span></p>
                        <p class="rz-mt-2 rz-mb-2"><strong>Destino:</strong> <span class="text-rojo">@modelo.Destino</span></p>
                    </RadzenColumn>
                </RadzenRow>

                <RadzenHeading Size="H3" Text="Detalle del Envío" />

                <RadzenDataGrid Data="@modelo.Detalles" TItem="DetallePaquete" ShowPagingSummary="false" AllowPaging="true" PageSize="5">
                    <Columns>
                        <RadzenDataGridColumn TItem="DetallePaquete" Property="Tipo" Title="Tipo" />
                        <RadzenDataGridColumn TItem="DetallePaquete" Property="Comentarios" Title="Comentarios" />
                        <RadzenDataGridColumn TItem="DetallePaquete" Property="Cantidad" Title="Cantidad" />
                    </Columns>
                </RadzenDataGrid>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="5" Style="min-height: 40vh;">
            <RadzenCard class="rz-display-flex rz-flex-column rz-justify-content-space-between" Style="height: 100%;">
                <div>
                    <RadzenHeading Size="H3" Text="Información del Envío" />

                    <p class="rz-mt-2 rz-mb-2"><strong>Fecha solicitud:</strong> <span class="text-morado">04/mar/2025</span></p>
                    <p class="rz-mt-2 rz-mb-2"><strong>Estado:</strong> <span class="text-azul-claro">Nuevo Envío</span></p>
                    <p class="rz-mt-2 rz-mb-2"><strong>Rastreo:</strong> <span class="text-rojo-brillante">@modelo.NumeroRastreo</span></p>

                    <p class="rz-mt-2 rz-mb-2"><strong>Remitente:</strong> <span class="text-naranja">@modelo.EmailDestinatario</span></p>
                    <p class="rz-mt-2 rz-mb-2"><strong>Destinatario:</strong> <span>@modelo.NombreDestinatario</span></p>

                    <pre class="rz-mt-2 rz-mb-2">
                    <strong>Observaciones:</strong><br />@modelo.Observaciones
                    </pre>
                </div>
                <div class="rz-display-flex" style="gap: 10px;">
                    <RadzenButton Text="Eliminar" ButtonStyle="ButtonStyle.Danger" Icon="Delete" />
                </div>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenCard class="rz-mt-5">
            <RadzenHeading Size="H3" Text="Historial de Cambios" />

            <RadzenDataGrid Data="@bitacora" TItem="Bitacora" ShowPagingSummary="false" AllowPaging="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn TItem="Bitacora" Property="Estado" Title="Estado" />
                    <RadzenDataGridColumn TItem="Bitacora" Property="Comentario" Title="Comentario" />
                    <RadzenDataGridColumn TItem="Bitacora" Property="Usuario" Title="Usuario" />
                    <RadzenDataGridColumn TItem="Bitacora" Property="Fecha" Title="Fecha" />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    </RadzenRow>
</div>
}

@code {
    private bool paqueteEncontrado = true;

    private Paquete modelo = new Paquete
    {
        NumeroRastreo = "UKSIS-UKSIS-386759",
        UbicacionOrigen = "Oficinas Z 12",
        Origen = "Contabilidad",
        UbicacionDestino = "Unipark",
        Destino = "Sistemas",
        EmailDestinatario = "test@gmail.com",
        NombreDestinatario = "test",
        Observaciones = "test test test test test test test test \ntest test test test test test test test test test test test test test test test test test test test test test test test",
        Detalles = new List<DetallePaquete>
        {
            new DetallePaquete { Tipo = "Documentos", Comentarios = "Planillas ", Cantidad = 2 },
            new DetallePaquete { Tipo = "Paquetes", Comentarios = "Camisas", Cantidad = 4 },
            new DetallePaquete { Tipo = "Documentos", Comentarios = "Planillas ", Cantidad = 2 },
            new DetallePaquete { Tipo = "Caja", Comentarios = "Etiquetas", Cantidad = 2 },
            new DetallePaquete { Tipo = "Paquetes", Comentarios = "Camisas", Cantidad = 4 },
            new DetallePaquete { Tipo = "Documentos", Comentarios = "Planillas ", Cantidad = 2 },
            new DetallePaquete { Tipo = "Caja", Comentarios = "Etiquetas", Cantidad = 2 },
            new DetallePaquete { Tipo = "Paquetes", Comentarios = "Camisas", Cantidad = 4 },
            new DetallePaquete { Tipo = "Documentos", Comentarios = "Planillas ", Cantidad = 2 },
            new DetallePaquete { Tipo = "Caja", Comentarios = "Etiquetas", Cantidad = 2 },
            new DetallePaquete { Tipo = "Paquetes", Comentarios = "Camisas", Cantidad = 4 },
            new DetallePaquete { Tipo = "Documentos", Comentarios = "Planillas ", Cantidad = 2 },
            new DetallePaquete { Tipo = "Caja", Comentarios = "Etiquetas", Cantidad = 2 }
        }
    };

    private void BuscarPaquete()
    {
        paqueteEncontrado = true;
    }

    IList<Bitacora> bitacora = new List<Bitacora>
    {
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "Recibido", Usuario = "scollections", Fecha = "05/04/2025" },
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "En Recepción", Usuario = "scollections", Fecha = "04/04/2025" },
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "Enviado a Destino", Usuario = "scollections", Fecha = "03/04/2025" },
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "Recibido por Correspondencia", Usuario = "scollections", Fecha = "02/04/2025" },
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "Enviado a Correspondencia", Usuario = "scollections", Fecha = "01/04/2025" },
        new Bitacora { NumeroRastreo = "UKSIS-UKSIS-386759", Comentario = "Cambio de estado", Estado = "Nuevo Envío", Usuario = "scollections", Fecha = "31/03/2025" }
    };

}
