@page "/enviar-paquete"

@using Unisuper.GestorCorrespondencia.Frontend.Model

@inject LayoutService LayoutService
@inject DialogService DialogService
@inject NavigationManager NavigationManager

<PageTitle>Enviar Paquete</PageTitle>

<div class="main-container">
    <RadzenText Text="@title" class="form-title" />
    <RadzenText Text="Complete el siguiente formulario para realizar el envío de su paquete. Asegúrese de proporcionar la información correctamente." class="description-text" />

    <RadzenSteps Change="@OnChange" CanChange="@CanChange" PreviousText="Volver" NextText="Continuar" >
        <Steps>
            <RadzenStepsItem Text="Información del envío">
                <Formulario_Destino Modelo="@modelo" OnModelUpdated="@(m => modelo = m)" />
            </RadzenStepsItem>

            <RadzenStepsItem Text="Detalle del envío">
                <Formulario_Detalle Modelo="@modelo" OnModelUpdated="@(m => modelo = m)" />
            </RadzenStepsItem>

            <RadzenStepsItem Text="Confirmar Envío">
                <Preview_Nuevo_Envio Modelo="@modelo" />
                <div class="form-buttons">
                    <RadzenButton Text="Cancelar" class="btn-cancelar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Click="Cancelar" />
                    <RadzenButton Text="Enviar" class="btn-enviar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" />
                </div>
            </RadzenStepsItem>
        </Steps>
    </RadzenSteps>
</div>

