@using GestorCorrespondencia.Frontend.Model.Paquetes.Nuevo_Envio

@if (Modelo != null)
{
    <div class="preview-container">

        <div class="form-container">
            <div class="form-left">
                <p class="rz-mb-3"><strong>Correo del destinatario:</strong> @Modelo.EmailDestinatario</p>
                <p class="rz-mb-0"><strong>Nombre del destinatario:</strong> @Modelo.NombreDestinatario</p>
            </div>
            <div class="form-right">
                <p class="rz-mb-3"><strong>Categoría destino:</strong> @Modelo.CategoriaDestino</p>
                <p class="rz-mb-0"><strong>Destino:</strong> @Modelo.Destino</p>
            </div>
            <div class="form-field full-width">
                <pre><strong>Observaciones:<br /></strong>@Modelo.Observaciones</pre>
            </div>
        </div>

        <hr />

        @if (Modelo.Detalles != null && Modelo.Detalles.Any())
        {
            <RadzenTable>
                <RadzenTableHeader>
                    <RadzenTableHeaderRow>
                        <RadzenTableHeaderCell class="detalle-header-cell">Tipo</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell class="detalle-header-cell">Comentarios</RadzenTableHeaderCell>
                        <RadzenTableHeaderCell class="detalle-header-cell">Cantidad</RadzenTableHeaderCell>
                    </RadzenTableHeaderRow>
                </RadzenTableHeader>
                <RadzenTableBody>
                    @foreach (var detalle in Modelo.Detalles)
                    {
                        <RadzenTableRow>
                            <RadzenTableCell>@detalle.Tipo</RadzenTableCell>
                            <RadzenTableCell>@detalle.Comentarios</RadzenTableCell>
                            <RadzenTableCell>@detalle.Cantidad</RadzenTableCell>
                        </RadzenTableRow>
                    }
                </RadzenTableBody>
            </RadzenTable>
        }
        else
        {
            <p>No se han agregado detalles al envío.</p>
        }
    </div>
}
else
{
    <p>No hay información para mostrar.</p>
}

@code {
    [Parameter] public FormularioEnvio Modelo { get; set; }
}
