<RadzenSidebar Expanded="@(sidebarExpanded)" Responsive="false">
    <RadzenPanelMenu>
        <RadzenStack class="sidebar-container-logo">
            <RadzenImage Path="/images/Unisuper.png" class="sidebar-logo" />
            <RadzenStack class="sidebar-user-info">
                <RadzenText TextStyle="TextStyle.Body1">@rol</RadzenText>
                <RadzenText TextStyle="TextStyle.Body2">@name</RadzenText>
            </RadzenStack>
            <hr class="rz-w-100" />
        </RadzenStack>
        @foreach (var group in menus.GroupBy(m => m.Section))
        {
            <span class="rz-text-disabled-color">– @group.Key</span>

            @foreach (var item in group)
            {
                <RadzenPanelMenuItem Text="@item.Module" Icon="@item.Icon" Path="@item.Path" />
            }
        }
    </RadzenPanelMenu>
</RadzenSidebar>