@page "/correspondencia/rastrear_consolidado/{ConsolidationIdParam:int?}"

@using GestorCorrespondencia.Frontend.Functionalities.ConsolidationTracking.Model
@using GestorCorrespondencia.Frontend.Functionalities.ConsolidationTracking.Components

<SessionValidator title="Rastrear consolidado" path="/correspondencia/rastrear_consolidado">
    <Loader Loading="@loading" />
    <div class="main-container">
        <RadzenText Text="Rastrear consolidado" class="form-title" />

        <RadzenTemplateForm Data="@form" Submit="SearchConsolidationAsync" TItem="ConsolidationTrackingForm">
            <DataAnnotationsValidator />
            <RadzenRow>
                <RadzenColumn>
                    <RadzenNumeric TValue="int?" @bind-Value="@form.ConsolidationId" Placeholder="Ingrese el número de consolidado" class="rz-w-100" ShowUpDown="false" />
                    <ValidationMessage For="@(() => form.ConsolidationId)" class="rz-message rz-messages-error" />
                </RadzenColumn>
                <RadzenColumn>
                    <RadzenButton Text="Rastrear" Icon="alt_route" ButtonType="ButtonType.Submit" class="rz-ms-3" />
                </RadzenColumn>
            </RadzenRow>
        </RadzenTemplateForm>

        <ConsolidationTrackingDetail consolidated="@consolidated" firstSearch="@firstSearch" foundConsolidated="@foundConsolidated" />

    </div>
</SessionValidator>