@page "/paquetes/enviar_paquete"

<style>
    .detalle-header-cell {
        background-color: var(--rz-primary) !important;
        color: #fff;
    }

    .form-buttons {
        display: flex;
        justify-content: end;
        gap: 1rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .btn-cancelar,
    .btn-enviar {
        color: #fff;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-agregar-detalle {
        margin-top: 10px;
        margin-bottom: 10px;
        float: right;
    }

    .preview-container {
        background-color: #f9f9f9;
        padding: 20px;
        margin: 0.1rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .full-width {
        grid-column: span 2;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .form-label {
        font-weight: 600;
        color: #333;
    }

    .invalid {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .valid {
        margin-top: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }
</style>

@using GestorCorrespondencia.Frontend.Functionalities.PackageShipping.Components

<SessionValidator title="Enviar Paquete" path="/paquetes/enviar_paquete">

    <Loader Loading="loading" />
    <div class="main-container">
        <RadzenText Text="@title" class="form-title" />
        <RadzenText Text="Complete el siguiente formulario para realizar el envío de su paquete. Asegúrese de proporcionar la información correctamente." class="description-text" />

        <RadzenSteps Change="@OnChange" CanChange="@CanChangeAsync" PreviousText="Volver" NextText="Continuar">
            <Steps>
                <RadzenStepsItem Text="Información del envío">
                    <PackageDestinationForm shippingForm="@shippingForm" Locations="@Locations" OnModelUpdated="@(m => shippingForm = m)" OnLoading="@(m => loading = m)" />
                </RadzenStepsItem>

                <RadzenStepsItem Text="Detalle del envío">
                    <PackageDetailsForm shippingForm="@shippingForm" OnModelUpdated="@(m => shippingForm = m)" />
                </RadzenStepsItem>

                <RadzenStepsItem Text="Confirmar Envío">
                    <PackageSummary shippingForm="@shippingForm" />
                    <div class="form-buttons">
                        <RadzenButton Text="Cancelar" class="btn-cancelar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Click="CancelAsync" />
                        <RadzenButton Text="Enviar" IsBusy="@busy" BusyText="Enviando" class="btn-enviar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Primary" Click="SubmitAsync" />
                    </div>
                </RadzenStepsItem>
            </Steps>
        </RadzenSteps>
    </div>

</SessionValidator>

