@page "/view-tracking"
@using GestorCorrespondencia.Frontend.Functionalities.Tracking.Model

<Loader Loading="@loading" />
@if(paqueteEncontrado){
    <RadzenRow class="rz-display-flex rz-flex-wrap">
        <RadzenColumn Size="7" SizeXS="12" SizeSM="12" SizeMD="12" SizeLG="7" SizeXL="7" SizeXX="7" class="order-mobile-last min-height-40vh">
            <RadzenCard class="rz-background-color-base-light card-full-height">
                <RadzenHeading Size="H3" Text="Detalle del Envío" />
                <RadzenDataGrid Data="@package.Details" TItem="PackageDetail" ShowPagingSummary="false" AllowPaging="true" PageSize="5">
                    <Columns>
                        <RadzenDataGridColumn TItem="PackageDetail" Property="Type" Title="Tipo" />
                        <RadzenDataGridColumn TItem="PackageDetail" Property="Comment" Title="Comentarios" />
                        <RadzenDataGridColumn TItem="PackageDetail" Property="Quantity" Title="Cantidad" />
                    </Columns>
                </RadzenDataGrid>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn Size="5" SizeXS="12" SizeSM="12" SizeMD="12" SizeLG="5" SizeXL="5" SizeXX="5" class="order-mobile-first min-height-40vh">
            <RadzenCard class="rz-background-color-base-light card-full-height">
                <RadzenHeading Size="H3" Text="Información del Envío" />

                <table style="border-spacing: 0.25rem; border-collapse: separate;">
                    <tbody>
                        <tr><td class="fw-bold">Fecha Envío:</td> <td class="text-morado">@package.CreatedAt</td></tr>
                        <tr><td class="fw-bold">Estado:</td>      <td class="text-azul-claro">@package.State</td></tr>
                        <tr><td class="fw-bold">Rastreo:</td>     <td class="text-rojo-brillante">@package.PackageId</td></tr>
                        <tr><td class="fw-bold">Origen:</td>      <td class="text-naranja">@package.SenderLocation</td></tr>
                        <tr><td class="fw-bold">Remitente:</td>   <td>@package.Sender</td></tr>
                        <tr><td class="fw-bold">Destino:</td>     <td class="text-morado">@package.DestinationLocation</td></tr>
                        <tr><td class="fw-bold">Destinatario:</td><td>@package.Addressee</td></tr>
                        <tr>
                            <td colspan="2">
                                <pre class="rz-mb-2">
                                    <strong>Observaciones:</strong><br />@package.Observations
                                </pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenCard class="rz-mt-5 rz-background-color-base-light">
            <RadzenHeading Size="H3" Text="Historial de Cambios" />
            <RadzenDataGrid Data="@package.Log" TItem="PackageActionLog" EmptyText="Este paquete no tiene registros en la bitácora."
                            ShowPagingSummary="false" AllowPaging="true" PageSize="5">
                <Columns>
                    <RadzenDataGridColumn Property="CreatedAt" Title="Fecha" />
                    <RadzenDataGridColumn Property="PackageState" Title="Acción" />
                    <RadzenDataGridColumn Property="CreatedBy" Title="Usuario" />
                    <RadzenDataGridColumn Property="Description" Title="Descripción" />
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    </RadzenRow>
}