@page "/devolver"

@using GestorCorrespondencia.Frontend.Functionalities.PendingPackages.DTO

<Loader Loading="@loading" />

<RadzenTemplateForm Data="@Form" Submit="@OnSubmitChangeReceiverAsync" TItem="ChangeReceiverInDestinationDTO" class="form-login">

    <DataAnnotationsValidator />

    <RadzenRow>
        <RadzenColumn>
            <RadzenRow class="gap-0">
                <RadzenLabel class="form-label">Destinatario<span class="text-rojo">*</span></RadzenLabel>
                <RadzenDropDown Name="NewReceiverId" @bind-Value="Form.NewReceiverId" class="w-100"
                                Data="@Users" TextProperty="Name" ValueProperty="Id" Change="@OnReceiverChanged"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true" />
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>


    <RadzenRow>
        <RadzenColumn class="rz-display-flex rz-flex-column gap-0 rz-mt-3">
            <RadzenLabel class="form-label">Observaciones<span class="text-rojo">*</span></RadzenLabel>
            <RadzenTextArea @bind-Value="Form.Comment" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn class="rz-display-flex rz-justify-content-end gap-2 rz-mt-3">
            <RadzenButton Text="Cancelar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Click="@(() => DialogService.Close())" />
            <RadzenButton Text="Cambiar destinatario" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
        </RadzenColumn>
    </RadzenRow>
</RadzenTemplateForm>