@page "/paquetes/rastrear/{PackageIdParam:int?}"

@using GestorCorrespondencia.Frontend.Functionalities.Tracking.Model
@using GestorCorrespondencia.Frontend.Functionalities.Tracking.Components

<SessionValidator title="Rastrear Paquete" path="/paquetes/rastrear">
    <Loader Loading="@loading" />
    
        <div class="main-container">

            <RadzenText Text="Rastrear Paquete" class="form-title" />

            <RadzenTemplateForm Data="@form" Submit="SearchPackageAsync" TItem="PackageTrackingForm">
                <DataAnnotationsValidator />
                <RadzenRow>
                    <RadzenColumn>
                        <RadzenNumeric TValue="int?" @bind-Value="@form.PackageId" Placeholder="Ingrese el número de rastreo" class="rz-w-100" ShowUpDown="false" />
                        <ValidationMessage For="@(() => form.PackageId)" class="rz-message rz-messages-error" />
                    </RadzenColumn>
                    <RadzenColumn>
                        <RadzenButton Text="Rastrear" Icon="alt_route" ButtonType="ButtonType.Submit" class="rz-ms-3" />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenTemplateForm>
            
            @if (foundPackage)
            {
                <TrackingPackageDetail package="@package" />
            }
            else if (firstSearch)
            {
                <RadzenCard class="no-searchable-package rz-mt-3">
                    <RadzenText Text="No se pudo encontrar el paquete" TextStyle="TextStyle.H4" />
                </RadzenCard>
            }
        </div>
</SessionValidator>
