@using GestorCorrespondencia.Frontend.Functionalities.PackagesWithIncidence.DTO

<Loader Loading="@loading" />

<RadzenTemplateForm Data="@form" Submit="@OnSubmitChangeRecipientAsync" TItem="IncidentResolveDTO" class="form-login">
    <DataAnnotationsValidator />
    <RadzenRow>
        <RadzenColumn>
            <RadzenRow class="gap-0">
                <RadzenLabel class="form-label">Ubicación destino</RadzenLabel>
                <RadzenDropDown Name="LocationId" @bind-Value="selectedLocation" Change="@(() => GetUsersByLocationId())" class="w-100"
                                Data="@Locations" TextProperty="LocationName" ValueProperty="LocationId"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true" />
            </RadzenRow>
        </RadzenColumn>

        <RadzenColumn>
            <RadzenRow class="gap-0">
                <RadzenLabel class="form-label">Destinatario<span class="text-rojo">*</span></RadzenLabel>
                <RadzenDropDown Name="AddresseeId" @bind-Value="form.NewRecipientId" class="w-100"
                                Data="@Users" TextProperty="Name" ValueProperty="Id"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true" />
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn class="rz-display-flex rz-flex-column gap-0 rz-mt-3">
            <RadzenLabel class="form-label">Observaciones<span class="text-rojo">*</span></RadzenLabel>
            <RadzenTextArea @bind-Value="form.Solution" />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn class="rz-display-flex rz-justify-content-end gap-2 rz-mt-3">
            <RadzenButton Text="Cancelar" ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Click="@(() => DialogService.Close())" />
            <RadzenButton Text="Cambiar destinatario" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary" />
        </RadzenColumn>
    </RadzenRow>
</RadzenTemplateForm>